*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(32,33,36);
}

.container{
    width: 350px;
    height: 90vh;
    margin: 20px auto;
    border: 5px solid lightyellow;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
}

.button-grid{
    flex-grow: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

input{
    flex-grow: 1;
    /* background-color: rgb(32,33,36); */
    background-color: rgb(60, 67, 35);
    color: white;
    text-align: right;
    font-size: 60px;
    outline: none;
    border: 0;
    padding: 0px 16px;
    margin: 10px;
    border-radius: 15px;
}

button{
    border-radius: 50%;
    width: 75%;
    height: 95%;
    border: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: #505050;
    color: white;
     place-self: center;
}

.gray-button{
    background-color: rgb(214, 211, 211);
    color: black;
}

.yello-button{
    background-color: rgb(228, 168, 15);
}

.zero{
    width: 100%;
    grid-column: span 2;
    border-radius: 80px;
}